<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <!--  <link href="assets/css" rel="stylesheet">
<script type="text/javascript" src="assets/js"></script> -->
    <!-- Use the title from a page's frontmatter if it has one -->
    <meta property="og:title" content="Фигурка Оксимирона">
    <meta property="og:image" content="assets/logo.jpeg">
    <meta property="og:description" content="Миниатюрный Оксимирон - мечта любого фаната и предмет зависти всех друзей и знакомых.">
    <meta property="og:site_name" content="Фигурка Окси"/>
    <meta name="keywords" content="Оксимирон, фигурка, русский рэп, рэп">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

    <title>Фигурка Оксимирон</title>
    <%= csrf_meta_tags %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <title><%= current_page.data.title %></title>

    <%= favicon_tag 'images/favicon.jpeg' %>
  </head>
  <body class="is-preload">
    <%= yield %>
    <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

    <!-- Note: Only needed for demo purposes. Delete for production sites. -->
      <script src="assets/js/demo.js"></script>
          <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
     <!--  <script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"0b579106d931e1cfd2b4c2042","lid":"f48ea34670"}) })</script> -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111037267-1');
    </script>
  </body>
</html>
